## Pandas

In [2]:
import pandas as pd

Data structures in pandas
## 1.series
## 2.dataframes

### creation of series

Series :1-d array with labeled rows

**'pd.Series(data,index=)'**

In [18]:
List=[20,34,21,26,34,22]
Tuple=(20,34,21,26,34,22)

In [19]:
series1= pd.Series(data=List)

In [20]:
series1

0    20
1    34
2    21
3    26
4    34
5    22
dtype: int64

In [21]:
series1=pd.Series(data=List,index=['a','b','c','d','e','f',])

In [22]:
series1

a    20
b    34
c    21
d    26
e    34
f    22
dtype: int64

In [23]:
d={'a':21,'b':24,'c':25}

In [24]:
series3=pd.Series(d)

In [25]:
series3

a    21
b    24
c    25
dtype: int64

In [26]:
series1

a    20
b    34
c    21
d    26
e    34
f    22
dtype: int64

## Indexing

-By position or index
-By row labels

In [27]:
series1

a    20
b    34
c    21
d    26
e    34
f    22
dtype: int64

In [29]:
series1[4]

34

In [30]:
series1[[2,4,3]]# fancy indexing

c    21
e    34
d    26
dtype: int64

In [31]:
series1[['c','e','d']]

c    21
e    34
d    26
dtype: int64

### Slicing

-By index or position
-By labels

In [32]:
series1

a    20
b    34
c    21
d    26
e    34
f    22
dtype: int64

In [36]:
series1[1:5]

b    34
c    21
d    26
e    34
dtype: int64

In [38]:
series1['b':'e']

b    34
c    21
d    26
e    34
dtype: int64

In [1]:
## create an array of 5x3 from standard normal distributiioin
## assign labels as 'A','B','C','D','E'
import numpy as np
array = np.random.rand(15).reshape(5,3)

In [2]:
array

array([[0.55754846, 0.25202666, 0.83041576],
       [0.05549164, 0.88090594, 0.26328198],
       [0.63403348, 0.10153553, 0.72448026],
       [0.38960728, 0.35803177, 0.74136898],
       [0.36007332, 0.42150625, 0.3973896 ]])

In [4]:
series=pd.Series(array,index='A','B','C','D','E')

SyntaxError: positional argument follows keyword argument (<ipython-input-4-5d049e494685>, line 1)

In [42]:
series1.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [43]:
series1

a    20
b    34
c    21
d    26
e    34
f    22
dtype: int64

In [44]:
series1[ : :2]

a    20
c    21
e    34
dtype: int64

In [46]:
series1['b':'e':3]

b    34
e    34
dtype: int64

In [47]:
series1[:6:2]

a    20
c    21
e    34
dtype: int64

## Dataframes

Two-dimensional array with row labels and col lables

**'pd.DataFrame(data,index='row_labels',columns='col_labels')

In [57]:
List=[21,23,25,26,24]
row_label=['a','b','c','d','f']
col_label=['Id']

In [58]:
df=pd.DataFrame(data=List)

In [59]:
df

    0
0  21
1  23
2  25
3  26
4  24

In [60]:
df=pd.DataFrame(data=List,index=row_label)
df

    0
a  21
b  23
c  25
d  26
f  24

In [61]:
df=pd.DataFrame(data=List,index=row_label,columns=col_label)
df

   Id
a  21
b  23
c  25
d  26
f  24

In [ ]:
# create a dictionary
id=[101,102,103,104,105]
salary=[1500,2500,3210,4100,2140]
age=[21,26,24,23,25]

In [67]:
d={'id':[101,102,103,104,105],'salary':[1500,2500,3210,4100,2140],'age':[21,26,24,23,25]}

In [68]:
df=pd.DataFrame(data=d)
df

    id  salary  age
0  101    1500   21
1  102    2500   26
2  103    3210   24
3  104    4100   23
4  105    2140   25

## Data input and Data output

#### Import data from outside

Excel,csv,html etc

In [89]:
pd.read_csv('C:\\Users\\sumav\\Downloads\\blood_pressure.csv')

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
5          6    Male  30-45        150       147
6          7    Male  30-45        148       133
7          8    Male  30-45        153       141
8          9    Male  30-45        153       131
9         10    Male  30-45        158       125
10        11    Male  30-45        149       164
11        12    Male  30-45        173       159
12        13    Male  30-45        165       135
13        14    Male  30-45        145       159
14        15    Male  30-45        143       153
15        16    Male  30-45        152       126
16        17    Male  30-45        141       162
17        18    Male  30-45        176       134
18        19    Male  30-45        143       136
19        20    Male  30-45        162       150
20        21    Male  46-59        149       168
21        22    Male  46-59        156       155
22        23    Male  46-59        151       136
23        24    Male  46-59        159       132
24        25    Male  46-59        164       160
25        26    Male  46-59        154       160
26        27    Male  46-59        152       136
27        28    Male  46-59        142       183
28        29    Male  46-59        162       152
29        30    Male  46-59        155       162
..       ...     ...    ...        ...       ...
90        91  Female  46-59        142       145
91        92  Female  46-59        162       132
92        93  Female  46-59        144       157
93        94  Female  46-59        142       140
94        95  Female  46-59        159       137
95        96  Female  46-59        140       154
96        97  Female  46-59        144       169
97        98  Female  46-59        142       145
98        99  Female  46-59        145       137
99       100  Female  46-59        145       143
100      101  Female    60+        168       178
101      102  Female    60+        142       141
102      103  Female    60+        147       149
103      104  Female    60+        148       148
104      105  Female    60+        162       138
105      106  Female    60+        170       143
106      107  Female    60+        173       167
107      108  Female    60+        151       158
108      109  Female    60+        155       152
109      110  Female    60+        163       154
110      111  Female    60+        183       161
111      112  Female    60+        159       143
112      113  Female    60+        148       159
113      114  Female    60+        151       177
114      115  Female    60+        165       142
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [75]:
data=pd.read_excel('C:\\Users\\sumav\\Downloads\\test_data.xlsx')
data

    fuses made
0          255
1          254
2          251
3          260
4          255
5          263
6          258
7          250
8          260
9          261
10         255
11         250
12         249
13         261
14         246

In [92]:
data=pd.read_excel('C:\\Users\\sumav\\Downloads\\test_data.xlsx',sheet_name=0)
data

    fuses made
0          255
1          254
2          251
3          260
4          255
5          263
6          258
7          250
8          260
9          261
10         255
11         250
12         249
13         261
14         246

In [84]:
data=pd.read_html('https://www.fdic.gov//bank//individual//failed//banklist.html')

In [87]:
df=data[0]

In [88]:
df.to_csv('banklist.csv')

In [90]:
df.to_csv('D:\\banklist.csv')